<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Пример виджета выбора телефонного кода страны при вводе номера</title>
<link rel="stylesheet" href="./phonecode.css">
<style>

</style>
<script src="jquery-1.11.0.min.js"></script>
<script src="jquery-ui-1.10.4.custom.min.js"></script>
<script src="counties.js"></script>
<script src="phonecode.js"></script>
<script>
    $(function(){
        $('#phone').phonecode({
            preferCo: 'ru'
        });
    });
</script>
</head>
<body>
<div class="container">
    <div class="form">
        <div class="field">
            <label for="phone">Ваш телефон:</label>
            <input type="text" id="phone" name="phone" autofocus="true" placeholder="9990000000">
        </div>
        <div class="code">
            Инициализация виджета:
            <pre><code>
    $('#phone').phonecode({
        preferCo: 'ru'
    });
            </code></pre>
        </div>  
    </div>
</div>
</body>
</html>